# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# Project datasets
*.csv

# Database
*.db
*.sqlite
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db